@model IEnumerable<ProductDetails>
@{
    Layout = "~/Views/Shared/_LayoutShopping.cshtml";
}


<section class="vh-100" style="background-color: #eee;">
    
    
        
    <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            @foreach (var item in Model)
            {
                <div class="col">
                    <p><span class="h2" style="font-family:Cairo">تفاصيل المنتج </span></p>

                    <div class="card mb-4">
                        <div class="card-body p-4">

                            <div class="row align-items-center">
                                <div class="col-md-2">
                                    <img src="~/assets/images/@item.Image"
                                         class="img-fluid" alt="Generic placeholder image">
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2" style="font-family:Cairo">اسم المنتج</p>
                                        <p class="lead fw-normal mb-0" style="font-family:Cairo">@item.ProductName</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2" style="font-family:Cairo">اللون</p>
                                        <p class="lead fw-normal mb-0" style="font-family:Cairo">
                                            <i class="fas fa-circle me-2"></i>
                                            @item.Color
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2" style="font-family:Cairo">السعر</p>
                                        <p class="lead fw-normal mb-0" style="font-family:Cairo">@item.Price</p>
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex justify-content-center">
                                    <div>
                                        <p class="small text-muted mb-4 pb-2" style="font-family:Cairo">المجموع</p>
                                        <p class="lead fw-normal mb-0" style="font-family:Cairo">@item.Price</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card mb-5">
                        <div class="card-body p-4">

                            <div class="float-end">
                                <p class="mb-0 me-5 d-flex align-items-center">
                                    <span class="small text-muted me-2" style="font-family:Cairo">مجموع الطلب:</span> <span class="lead fw-normal" style="font-family:Cairo">@item.Price</span>
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <a asp-action="Index" class="btn btn-light btn-lg me-2" style="font-family:Cairo">عودة الى المنتجات</a>
                        <a asp-action="Checkout" asp-route-id="@item.ProductId" class="btn btn-primary btn-lg">اشتري الان</a>
                    </div>

                </div>
            }
            </div>
        
        </div>
    

</section>
