@model ProductDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit Page";
}

<body dir="rtl" id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
    <h1>تعديل بيانات المنتج</h1>
    <form asp-action="EditDetails" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col-sm-12">
                <label for="ProductName">اسم المنتج</label>
                <input asp-for="@Model.ProductName" type="text" class="form-control" id="ProductName" name="ProductName" />
            </div>

            <div class="col-sm-12">
                <label for="Price">السعر</label>
                <input asp-for="@Model.Price" type="text" class="form-control" id="Price" name="Price" />
            </div>

            <div class="col-sm-12">
                <label for="Image">الصورة</label>
                <input asp-for="@Model.Image" type="text" class="form-control" id="Image" name="Image" />
            </div>

            <div class="col-sm-12">
                <label for="QTY">الكمية</label>
                <input asp-for="@Model.QTY" type="int" class="form-control" id="QTY" name="QTY" />
            </div>

            <div class="col-sm-12">
                <label for="Model">الطراز</label>
                <input asp-for="@Model.Model" type="text" class="form-control" id="Model" name="Model" />
            </div>

            <div class="col-sm-12">
                <label for="Color">اللون</label>
                <input asp-for="@Model.Color" type="text" class="form-control" id="Color" name="Color" />
            </div>
            <div class="col-sm-12">
                <label for="Display">ملاحظات</label>
                <input asp-for="@Model.Display" type="text" class="form-control" id="Display" name="Display" />
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 d-flex mt-3 justify-content-center">
                <button type="submit" class="btn btn-primary p-2">حفظ</button>
            </div>
        </div>
    </form>
</body>


